.color-text {
    color: black;
}

.succes {
    color: #0FBBB5;
}

.error {
    color: red;
}

.mat-snack-bar-container {
    background-color: currentcolor;
}

.aling-end-alert-icon {
    display: flex;
    justify-content: space-between;
}